@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  @apply text-black;
}

.sidebar-menu {
  @apply mt-2 p-2 bg-primary hover:text-primary rounded hover:bg-white cursor-pointer font-bold transition;
}

.primary-button {
  @apply px-2 py-1 font-semibold uppercase bg-primary text-white hover:bg-primary-light transition rounded tracking-wider w-1/12;
}

.main-box-shadow {
  box-shadow: rgba(45, 48, 71, 0.16) 0px 3px 6px,
    rgba(45, 48, 71, 0.23) 0px 3px 6px;
}

.post {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr 1fr;
  grid-template-rows: 0.75fr 1.25fr 0.25fr;
  gap: 0px 0.625rem;
  grid-template-areas:
    'avatar header header'
    '. content content'
    '. footer footer';

  .content {
    grid-area: content;
  }
  .avatar {
    grid-area: avatar;
  }
  .header {
    grid-area: header;
  }

  .footer {
    @apply mt-3;

    grid-area: footer;
  }
}
